@media(max-width: 896px) {
  html {
    height: 100%;
  }
  body {
    width: auto;
    height: 100%;
  }
  #root {
    height: 100%;
  }
  .menu {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    //min-height: auto;
  }
  .menu-disabled {
    left: -100%;
  }
  .view {
    width: 100%;
    background-color: var(--light-gray);
    min-height: unset;
    transition: var(--transition);
    box-shadow: inset 10px 10px 10px #1c1c1c;

    &__container {
      position: relative;
      display: flex;
      flex-direction: column;
      padding: 0 10px 10px 10px
    }

    &__gradient {
      bottom: 48px;
    }
  }
  .header {
    z-index: 100000;
    padding: 5px 0 0 0;
    position: relative;
  }
  .auth__image {
    display: None;
  }
  .form__container {
    width: 100% !important;
  }
  .notistack-SnackbarContainer {
    z-index: 100000000 !important;
  }
}


