
.view {
  width: calc(100% - (100% / 4));
  background-color: var(--light-gray);
  min-height: 100vh;
  transition: var(--transition);
  box-shadow: inset 10px 10px 10px #1c1c1c;

  &__container {
    height: -webkit-fill-available;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 40px 40px 10px 40px
  }

  &-disabled {
    width: calc(100%);
    transition: var(--transition);
  }

  &__box {
    border-radius: 1rem;
    border: 1px solid #2f2f2f !important;
    width: 160px;
    height: 120px;
    padding: 10px;
    text-align: left;
    font-weight: 400
  }

  &__gradient {
    z-index: 90;
    position: absolute;
    bottom: 62px;
    width: 100%;
    box-shadow: 0px -9px 13px 20px #212121;
  }


}


@import "./messagesPanel/messagePanel";